#body{ display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh auto 15vh;
    min-height: 100vh;
}
header{

    background-color: #FF0000;
}
.main__banner{
    background-color: #2484CA;

}
footer{
    background-color: #2DD251;
}
header, footer, .main__banner{
    display: flex;
}

@media screen and (min-device-width:0px){

    .main__banner{
        display: none;
    }

}

@media screen and (min-device-width:768px){


    .main__banner{
        display: block;
        height: 40vh;
    }

}

@media screen and (min-device-width:1100px){

    .main__banner{
        height: 60vh;
    }
}